<!DOCTYPE html>

<html>

<head>
    <title>{{ channel_username }}</title>
    <link rel="stylesheet" href="/static/css/channel_posts.css">
</head>

<body>

    <a href="/dashboard" class="back-link"> ← Back </a>

    <h1>
        @{{ channel_username }}
    </h1>

    <hr>

    {% for post in posts %}

    <div class="post-card">

        <h2>

            {% if post["message_type"] == "photo" %}
            📷 Photo

            {% elif post["message_type"] == "video" %}
            🎥 Video

            {% elif post["message_type"] == "document" %}
            📄 Document

            {% else %}
            📝 Text

            {% endif %}

        </h2>

        <p>

            {{ post["text"] or "(No caption)" }}

        </p>

        {% if post["media_url"] %}

        {% if post["message_type"] == "photo" %}

        <img src="{{ post['media_url'] }}" alt="Telegram image" class="post-image">

        {% endif %}

        {% if post["message_type"] == "document" %}

        <p>

            <a href="{{ post['media_url'] }}" target="_blank">

                📄 Download document

            </a>

        </p>

        {% endif %}

        {% if post["message_type"] == "video" %}

        <video controls class="post-video">
            <source src="{{ post['media_url'] }}">
        </video>

        {% endif %}


        {% endif %}

        <p>

            {{ post["date"] }}

        </p>

        <a class="telegram-link" href="https://t.me/{{ post['channel_username'] }}/{{ post['message_id'] }}"
            target="_blank">
            🔗 Open Telegram

        </a>

    </div>

    {% endfor %}

</body>

</html>