<!DOCTYPE html>

<html>

<head>

    <title>Channel Settings</title>

</head>

<body>
    <a href="/dashboard" class="back-link"> ← Back </a>


    <h1>Channel Settings</h1>

    <form action="/dashboard/settings/{{ channel_id }}" method="post">

        <p>Prefix</p>
        <textarea name="prefix" rows="3" cols="70">{{ settings["prefix"] }}</textarea>
        <p>Suffix</p>
        <textarea name="suffix" rows="3" cols="70">{{ settings["suffix"] }}</textarea>
        <p>Remove keywords</p>
        <textarea name="remove_keywords" rows="3" cols="70">{{ settings["remove_keywords"] }}</textarea>
        <p>Replace words</p>
        <textarea name="replace_words" rows="6" cols="70">{{ settings["replace_words"] }}</textarea>
        <br><br>

        <button type="submit">
            Save Settings
        </button>

    </form>

</body>

</html>